// Place all the styles related to the runners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.runner-header-select {
	background: white;
	border: none;
	font-weight: bold;
	color: black;
	padding-bottom: 0px;
}

.runner-select-team {
	width: 69px;
}

.runner-select-distance {
	width: 100px;
}